.F-title {
    text-align: center;
    margin-bottom: 20px;
}

.F-table {
    margin-top: 20px;
}

.F-upi {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}

.F-Qr {
    text-align: center;
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}
